﻿@model AgentPastSaleModel

<div class="c-content__homes-row">
    <div class="c-content__homes-col c-content__homes-col--property">
        <div class="c-content__homes-property-photo">
            <img src="~/images/@Model.PropertyImage" alt="">
        </div>
    </div>
    <div class="c-content__homes-col c-content__homes-col--details">
        <span class="c-content__homes-price">$@Model.PropertyPrice.ToString("#,###")</span>
        <span class="c-content__homes-location">@Model.City, @Model.State</span>
        <span class="c-content__homes-address">@Model.PropertyAddress • @Model.City, @Model.State @Model.Postcode</span>
        <span class="c-content__homes-info">@Model.TotalBeds bed, @Model.TotalBath bath, @Model.TotalSquareFeet.ToString("#,###") sqft</span>
        <span class="c-content__homes-date">Sold date: @Model.SoldDate.ToString("MM/dd/yyyy")</span>
    </div>
    <div class="c-content__homes-col c-content__homes-col--represented">
        @Model.Represented
    </div>
    <div class="c-content__homes-col c-content__homes-col--price">
        $@Model.PropertyPrice.ToString("#,###")
    </div>
</div>