﻿@model AgentOverviewModel

<div class="c-content__agent-card">
    <h1>@(Model.AgentFirstName + " " + Model.AgentLastName)</h1>
    <div class="c-content__agent-profile-photo">
        <img src="~/images/@Model.AgentPhoto" alt="">
    </div>
    <div class="c-content__rating c-content__rating--agent">
        @Html.Partial("_RatingPartial", Model.AgentRating)
        <div class="c-content__rating-info">
            <div class="c-content__rating-average">@Model.AgentRating</div>
            <a href="#" class="c-content__agent-review-count">@Model.AgentReviews</a>
        </div>
    </div>
    <div class="c-content__skill-bars c-content__skill-bars--agent">
        <div class="c-content__skill-bar">
            <div class="c-content__skill-bar-title">Local knowledge</div>
            <div class="c-content__skill-bar-average">@Model.LocalKnowledgeRating</div>
            <div class="c-content__skill-bar-row--default">
                @{
                    var widthLK = (decimal)20 * Model.LocalKnowledgeRating;
                }
                <div class="c-content__skill-bar-row" style="width:@widthLK%;"></div>
            </div>
        </div>
        <div class="c-content__skill-bar">
            <div class="c-content__skill-bar-title">Process expertise</div>
            <div class="c-content__skill-bar-average">@Model.ProcessExpertiseRating</div>
            <div class="c-content__skill-bar-row--default">
                @{
                    var widthPE = (decimal)20 * Model.ProcessExpertiseRating;
                }
                <div class="c-content__skill-bar-row" style="width:@widthPE%;"></div>
            </div>
        </div>
        <div class="c-content__skill-bar">
            <div class="c-content__skill-bar-title">Responsiveness</div>
            <div class="c-content__skill-bar-average">@Model.ResponsivenessRating</div>
            <div class="c-content__skill-bar-row--default">
                @{
                    var widthR = (decimal)20 * Model.ResponsivenessRating;
                }
                <div class="c-content__skill-bar-row" style="width:@widthR%;"></div>
            </div>
        </div>
        <div class="c-content__skill-bar">
            <div class="c-content__skill-bar-title">Negotiation Skills</div>
            <div class="c-content__skill-bar-average">@Model.NegotiationSkillsRating</div>
            <div class="c-content__skill-bar-row--default">
                @{
                    var widthNS = (decimal)20 * Model.NegotiationSkillsRating;
                }
                <div class="c-content__skill-bar-row" style="width:@widthNS%;"></div>
            </div>
        </div>
    </div>
</div>
<div class="c-content__agent-desc">
    <h4 class="l-border">About</h4>
    <p>
        @Model.AgentDescription
    </p>
    <p>
        @Model.AgentObjective
    </p>
    <p class="l-small">
        <strong>Brokerage:</strong> @Model.AgentBrokerage
    </p>
    <p class="l-small">
        <strong>Specialties:</strong> @Model.AgentSpecialties
    </p>
    <p class="l-small">
        <strong>License Number(s):</strong> @Model.AgentLicenseNumber
    </p>
</div>