﻿@model AgentReviewModel

<div class="c-content__review-item">
    <div class="c-content__review-summary">
        <div class="c-content__review-info">
            <div class="c-content__review-date">
                @Model.ReviewDate.ToString("MM/dd/yyyy")
            </div>
            <div class="c-content__review-meta h-show-on-mobile">
                <div class="c-content__review-author">
                    Reviewed by: @Model.ReviewedBy
                </div>
                <div class="c-content__review-home">
                    @Model.ReviewTag
                </div>
            </div>
            <div class="c-content__rating c-content__rating--review">
                @Html.Partial("_RatingPartial", Model.AgentRating)
                <div class="c-content__rating-info">
                    <div class="c-content__review-average">@Model.AgentRating</div>
                </div>
            </div>
            <div class="c-content__review-meta h-hide-on-mobile">
                <div class="c-content__review-author">
                    Reviewed by: @Model.ReviewedBy
                </div>
                <div class="c-content__review-home">
                    @Model.ReviewTag
                </div>
            </div>
        </div>
        <div class="c-content__skill-bars c-content__skill-bars--review">
            <div class="c-content__skill-bar">
                <div class="c-content__skill-bar-title">Local knowledge</div>
                <div class="c-content__skill-bar-average">@Model.LocalKnowledgeRating</div>
                <div class="c-content__skill-bar-row--default">
                    @{
                        var widthLK = (decimal)20 * Model.LocalKnowledgeRating;
                    }
                    <div class="c-content__skill-bar-row" style="width:@widthLK%;"></div>
                </div>
            </div>
            <div class="c-content__skill-bar">
                <div class="c-content__skill-bar-title">Process expertise</div>
                <div class="c-content__skill-bar-average">@Model.ProcessExpertiseRating</div>
                <div class="c-content__skill-bar-row--default">
                    @{
                        var widthPE = (decimal)20 * Model.ProcessExpertiseRating;
                    }
                    <div class="c-content__skill-bar-row" style="width:@widthPE%;"></div>
                </div>
            </div>
            <div class="c-content__skill-bar">
                <div class="c-content__skill-bar-title">Responsiveness</div>
                <div class="c-content__skill-bar-average">@Model.ResponsivenessRating</div>
                <div class="c-content__skill-bar-row--default">
                    @{
                        var widthR = (decimal)20 * Model.ResponsivenessRating;
                    }
                    <div class="c-content__skill-bar-row" style="width:@widthR%;"></div>
                </div>
            </div>
            <div class="c-content__skill-bar">
                <div class="c-content__skill-bar-title">Negotiation Skills</div>
                <div class="c-content__skill-bar-average">@Model.NegotiationSkillsRating</div>
                <div class="c-content__skill-bar-row--default">
                    @{
                        var widthNS = (decimal)20 * Model.NegotiationSkillsRating;
                    }
                    <div class="c-content__skill-bar-row" style="width:@widthNS%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-content__review-content">
        @Model.ReviewDescription
    </div>
</div>