﻿@model AgentActiveListingModel

<div class="c-content__property-item @(Model.IsFavorite ? "is-favorite" : "")">
    <a href="#">
        <div class="c-content__property-main">
            <div class="c-content__property-image">
                <img src="~/images/@Model.PropertyImage" alt="">
            </div>
            <div class="c-content__property-price h-clearfix">
                <div class="c-content__property-price-current">
                    $@Model.PropertyPrice.ToString("#,###")
                </div>
                @if (Model.IsInstallment.HasValue)
                {
                    <div class="c-content__property-price-changes c-content__property-price-changes--@(Model.IsInstallment.Value ? "up" : "down")">
                        <span class="value">@Model.InstallmentPrice.Value</span>
                    </div>
                }
            </div>
        </div>
        <div class="c-content__property-desc">
            <div class="c-content__property-info h-clearfix">
                <div class="c-content__property-address">
                    @Model.PropertyAddress
                </div>
                <div class="c-content__property-photos">
                    <span>×</span> 12
                </div>
            </div>
            <div class="c-content__property-features h-clearfix">
                <div class="c-content__property-feature c-content__property-feature--beds">
                    @Model.TotalBeds
                </div>
                <div class="c-content__property-feature c-content__property-feature--bath">
                    @Model.TotalBath
                </div>
                <div class="c-content__property-feature c-content__property-feature--sqft">
                    @Model.TotalSquareFeet.ToString("#,###")
                </div>
            </div>
        </div>
    </a>
    <div class="c-content__property-favorite"></div>
</div>