﻿@model decimal

<div class="c-content__rating-stars">
    @if (Model < (decimal)0.5)
    {
        <span class="c-content__rating-star c-content__rating-star"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
    }
    else if (Model > 0 && Model <= (decimal)0.5)
    {
        <span class="c-content__rating-star c-content__rating-star--half-full"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
    }
    else if (Model > (decimal)0.5 && Model <= (decimal)1)
    {
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
    }
    else if (Model > (decimal)1 && Model <= (decimal)1.5)
    {
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--half-full"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
    }
    else if (Model > (decimal)1.5 && Model <= (decimal)2)
    {
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
    }
    else if (Model > (decimal)2 && Model <= (decimal)2.5)
    {
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--half-full"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
    }
    else if (Model > (decimal)2.5 && Model <= (decimal)3)
    {
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
    }
    else if (Model > (decimal)3 && Model <= (decimal)3.5)
    {
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--half-full"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
    }
    else if (Model > (decimal)3.5 && Model <= (decimal)4)
    {
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star"></span>
    }
    else if (Model > (decimal)4 && Model <= (decimal)4.5)
    {
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--half-full"></span>
    }
    else if (Model > (decimal)4.5 && Model <= (decimal)5)
    {
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--full"></span>
        <span class="c-content__rating-star c-content__rating-star--full"></span>
    }
</div>