﻿@{
    ViewData["Title"] = "Agent Profile";
}
@model AgentProfileModel

<div id="content" class="c-content" style="padding-bottom: 309px;">
    <div class="c-content__wrap">
        <div class="l-container">
            <div class="c-content__agent-profile h-clearfix">
                <div class="c-content__agent-overview l-col l-col-8">
                    @Html.Partial("_agentOverview", @Model.agentOverview)
                </div>
                <div class="c-content__agent-form l-col l-col-4">
                    <div class="l-box l-box--contact-agent">
                        <form class="l-form l-contact-agent-form">
                            <div class="l-form__holder">
                                <h5>Contact @Model.agentOverview.AgentFirstName</h5>
                                <div class="l-form__inner">
                                    <div class="l-form-row h-clearfix">
                                        <div class="l-form-group">
                                            <input type="text" class="l-form-control" id="inputFirstName_ContactAgentForm" required="">
                                            <label for="inputFirstName_ContactAgentForm" class="l-form-label">first name</label>
                                            <span class="l-form-control-focus"></span>
                                        </div>
                                    </div>
                                    <div class="l-form-row h-clearfix">
                                        <div class="l-form-group">
                                            <input type="text" class="l-form-control" id="inputLastName_ContactAgentForm" required="">
                                            <label for="inputLastName_ContactAgentForm" class="l-form-label">last name</label>
                                            <span class="l-form-control-focus"></span>
                                        </div>
                                    </div>
                                    <div class="l-form-extra demo">
                                        <div class="l-form-row h-clearfix">
                                            <div class="l-form-group">
                                                <input type="email" class="l-form-control" id="inputEmail_ContactAgentForm" required="">
                                                <label for="inputEmail_ContactAgentForm" class="l-form-label">email</label>
                                                <span class="l-form-control-focus"></span>
                                            </div>
                                        </div>
                                        <div class="l-form-row h-clearfix">
                                            <div class="l-form-group">
                                                <input type="text" class="l-form-control" id="inputPhone_ContactAgentForm" required="">
                                                <label for="inputPhone_ContactAgentForm" class="l-form-label">phone</label>
                                                <span class="l-form-control-focus"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="l-form-row h-clearfix">
                                        <div class="l-form-group l-form-group--textarea">
                                            <textarea class="l-form-control" id="areaComment_ContactAgentForm" required=""></textarea>
                                            <label for="areaComment_ContactAgentForm" class="l-form-label">comment</label>
                                            <span class="l-form-control-focus"></span>
                                        </div>
                                    </div>
                                    <div class="l-form-row l-form-row--submit l-row--center">
                                        <button type="submit" class="l-btn l-btn-primary">Submit</button>
                                        <div class="l-form__buttons h-clearfix">
                                            <a href="#" class="l-btn l-btn--action l-btn--gray">Call</a>
                                            <a href="#" class="l-btn l-btn--action l-btn--gray">Leave Review</a>
                                        </div>
                                        <div class="l-form-text">
                                            <a href="#">www.crosbyrealestate.com</a>
                                        </div>
                                        <ul class="l-list l-list--social c-content__agent-form-social">
                                            <li>
                                                <a href="#" target="_blank">
                                                    <span class="l-list--social__icon">
                                                        <img src="~/images/icon-twitter-agent.svg" alt="">
                                                    </span>
                                                    <span class="l-list--social__icon--hover">
                                                        <img src="~/images/icon-twitter-agent-dark.svg" alt="">
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <span class="l-list--social__icon">
                                                        <img src="~/images/icon-facebook-agent.svg" alt="">
                                                    </span>
                                                    <span class="l-list--social__icon--hover">
                                                        <img src="~/images/icon-facebook-agent-dark.svg" alt="">
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <span class="l-list--social__icon">
                                                        <img src="~/images/icon-linkedin-agent.svg" alt="">
                                                    </span>
                                                    <span class="l-list--social__icon--hover">
                                                        <img src="~/images/icon-linkedin-agent-dark.svg" alt="">
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="l-divider l-divider--big"></div>
            <h3>Active Listings</h3>
            <div class="c-content__property c-content__property--related">
                @foreach (var item in Model.lstAgentActiveListing)
                {
                    @Html.Partial("_agentActiveListing", item)
                }
            </div>
            <div class="l-row l-row--center">
                <a class="l-btn l-btn-more l-btn-more--arrow-changeable" href="#"><span class="h-hide-on-mobile">See </span>More</a>
            </div>
            <div class="l-divider l-divider--big"></div>
            <h3>Past Sales</h3>
            <div class="c-content__homes">
                <div class="c-content__homes-row">
                    <div class="c-content__homes-col c-content__homes-col--property">
                        Property
                    </div>
                    <div class="c-content__homes-col c-content__homes-col--details">
                        Details
                    </div>
                    <div class="c-content__homes-col c-content__homes-col--represented">
                        Represented
                    </div>
                    <div class="c-content__homes-col c-content__homes-col--price">
                        Price
                    </div>
                </div>
                @foreach (var item in Model.lstAgentPastSale)
                {
                    @Html.Partial("_agentPastSale", item)
                }
            </div>
            <ul class="l-list l-list--pagination h-hide-on-tablet">
                <li class="l-list__pagination-control l-list__pagination-control--prev l-list__pagination-control--disabled">
                    <a href="#"></a>
                </li>
                <li class="l-list__pagination-pages">
                    <span class="l-list-pagination__current">1</span>
                    <span class="l-list-pagination__pages-count">32</span>
                </li>
                <li class="l-list__pagination-control l-list__pagination-control--next">
                    <a href="#"></a>
                </li>
            </ul>
            <div class="l-row l-row--center h-hide-on-desktop">
                <a class="l-btn l-btn-more l-btn-more--arrow-down" href="#"><span class="h-hide-on-mobile">See </span>More</a>
            </div>
            <div class="l-divider l-divider--big"></div>
            <h3>Ratings &amp; Reviews</h3>
            <div class="c-content__filter c-content__filter--reviews h-clearfix">
                <div class="l-col l-col-4 l-col-xs-6">
                    <div class="jq-selectbox jqselect l-form-control l-form-select l-form-elem-custom" id="reviewType_ReviewFilter-styler" style="z-index: 10;">
                        <select class="l-form-control l-form-select l-form-elem-custom" id="reviewType_ReviewFilter">
                            <option>All reviews (16)</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="l-col l-col-4 l-col-xs-6">
                    <div class="jq-selectbox jqselect l-form-control l-form-select l-form-elem-custom" id="reviewOrder_ReviewFilter-styler" style="z-index: 9;">
                        <select class="l-form-control l-form-select l-form-elem-custom" id="reviewOrder_ReviewFilter">
                            <option>Newest first</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="l-col l-col-4 h-hide-on-mobile">
                    <button type="button" class="l-btn l-btn--action l-btn--blue">Write a Review</button>
                </div>
            </div>
            <div class="c-content__reviews">
                @foreach (var item in Model.lstAgentReview)
                {
                    @Html.Partial("_agentReview", item)
                }
            </div>
            <div class="c-content__copyright c-content__copyright--zillow">
                <div class="c-content__logo-copyright">
                    <a href="#">Zillow</a>
                </div>
                <p>
                    © Zillow, Inc., 2006-2016. Use is subject to <a href="#">Terms of Use</a>
                </p>
                <p>
                    <a href="#">What's a Zestimate?</a>
                </p>
            </div>
        </div>
    </div>
</div> 